{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="global-container">
	<div class="card login-form"  style="width:40%">
	<div class="card-body">
		<h3 class="card-title text-center">Delete Appointment</h3>
		<div class="card-text">
			<form method="post">
				{% csrf_token %}
                Are you sure you want to delete the record?
				<button type="submit" class="btn btn-primary btn-block">Yes</button>
			</form>
		</div>
	</div>
</div>
</div>

{% endblock %}